<div class="d-flex align-items-center justify-content-center vh-100 change-password-page">
  <form [formGroup]="changeForm" novalidate>
    <h3 class="text-center mb-4">
      <img src="../../../assets/logo.svg" alt="Logo" style="height: 60px;">
    </h3>
    <h3 class="text-center mb-1">Malharia Vitória</h3>
    <h4 class="text-center mb-4">Alterar Senha</h4>

   <div class="mb-3">
  <label for="password" class="form-label">Senha</label>
  <input
    id="password"
    type="password"
    class="form-control"
    formControlName="password"
    [class.is-valid]="changeForm.get('password')?.valid && changeForm.get('password')?.dirty"
    [class.is-invalid]="changeForm.get('password')?.invalid && changeForm.get('password')?.dirty"
    placeholder="Digite sua senha"/>
  <div class="invalid-feedback" *ngIf="changeForm.get('password')?.errors && changeForm.get('password')?.dirty">
    <span *ngIf="changeForm.get('password')?.errors?.['required']">Senha obrigatória.</span>
    <span *ngIf="changeForm.get('password')?.errors?.['minlength']">Senha muito curta (mínimo 4 caracteres).</span>
    <span *ngIf="changeForm.get('password')?.errors?.['maxlength']">Senha muito longa (máximo 10 caracteres).</span>
  </div>
</div>

<!-- Confirmar Senha -->
<div class="mb-3">
  <label for="confirmPassword" class="form-label">Confirmar Senha</label>
  <input
    id="confirmPassword"
    type="password"
    class="form-control"
    formControlName="confirmPassword"
    [class.is-valid]="changeForm.get('confirmPassword')?.valid && changeForm.get('confirmPassword')?.dirty && !changeForm.errors?.['passwordMismatch']"
    [class.is-invalid]="(changeForm.get('confirmPassword')?.dirty && changeForm.errors?.['passwordMismatch']) || (changeForm.get('confirmPassword')?.invalid && changeForm.get('confirmPassword')?.dirty)"
    placeholder="Repita sua senha"/>
  <div class="invalid-feedback" *ngIf="changeForm.errors?.['passwordMismatch'] && changeForm.get('confirmPassword')?.dirty">
    As senhas não coincidem.
  </div>
</div>

    <button type="button" class="btn btn-primary w-100" (click)="alterar()">
      Alterar Senha
    </button>

    <div class="text-center mt-3">
      <a routerLink="/login" class="text-decoration-none">Sair</a>
    </div>
  </form>
</div>
