<div class="navbar navbar-expand-lg fixed-top login-page" data-bs-theme="dark">
      <div class="container">
        <a href="../" class="navbar-brand">
          <span>Malharia</span>
          <img src="../../../assets/logo.svg" alt="Logo" style="height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            @if (isAdmin) {
              <li class="nav-item dropdown" data-bs-theme="light">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Administração</a>
                <div class="dropdown-menu" aria-labelledby="themes">
                  <a class="dropdown-item" [routerLink]="'/admin'">Lista de usuários</a>
                  <a class="dropdown-item" href="../brite/">Brite</a>
                </div>
              </li>
            }
             @if (isAdmin) {
               <li class="nav-item dropdown" data-bs-theme="light">
                 <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">Pedidos</a>
                 <div class="dropdown-menu" aria-labelledby="download">
                   <a class="dropdown-item" href="../_vendor/bootstrap/dist/css/bootstrap.rtl.css" download>bootstrap.rtl.css</a>
                   <a class="dropdown-item" href="../_vendor/bootstrap/dist/css/bootstrap.rtl.min.css" download>bootstrap.rtl.min.css</a>
                 </div>
               </li>
             }
            @if (isAdmin) {
              <li class="nav-item dropdown" data-bs-theme="light">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">Clientes</a>
                <div class="dropdown-menu" aria-labelledby="download">
                  <a class="dropdown-item" href="../_vendor/bootstrap/dist/css/bootstrap.rtl.css" download>bootstrap.rtl.css</a>
                  <a class="dropdown-item" href="../_vendor/bootstrap/dist/css/bootstrap.rtl.min.css" download>bootstrap.rtl.min.css</a>
                </div>
              </li>
            }
             <li class="nav-item dropdown" data-bs-theme="light">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">Produção</a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" href="../_vendor/bootstrap/dist/css/bootstrap.rtl.css" download>bootstrap.rtl.css</a>
                <a class="dropdown-item" href="../_vendor/bootstrap/dist/css/bootstrap.rtl.min.css" download>bootstrap.rtl.min.css</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ms-md-auto">
            <li class="nav-item">
              <a target="_blank" rel="noopener" class="nav-link"  [routerLink]="'/change-password'" routerLinkActive="router-link-active" ><i class="bi bi-key"><span class="ms-2">Trocar Senha</span></i><span class="d-lg-none ms-2">Trocar Senha</span></a>
            </li>
            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
              <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
              <hr class="d-lg-none my-2 text-white-50">
            </li>
            <li class="nav-item dropdown d-flex align-items-center" data-bs-theme="light">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="version-menu"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-label="Toggle theme">
                @if (usuario) {
                  Olá, {{ usuario.email }}
                }
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="version-menu"
                  style="cursor: pointer;" (click)="logout()">
                <li>
                  <a class="dropdown-item d-flex align-items-center justify-content-between" aria-current="true">
                    <span class="ms-2">Sair</span>
                    <i class="bi bi-box-arrow-left"></i>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
              <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
              <hr class="d-lg-none my-2 text-white-50">
            </li>
            <li class="nav-item dropdown" data-bs-theme="light">
              <a class="nav-link d-flex align-items-center"
                href="#"
                id="theme-menu"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-label="Toggle theme">
                <div class="ms-2">
                  <ng-container *ngIf="usuario">
                    <ng-container *ngFor="let role of usuario.roles">
                      <span class="badge bg-info me-1">{{ role }}</span>
                    </ng-container>
                  </ng-container>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

