<div class="d-flex justify-content-center align-items-start" style="min-height: 60vh; padding-top: 10px;">
  <form [formGroup]="registerAdminForm" novalidate>
    <h4 class="text-center mb-4">Cadastro Usuário</h4>
    <div class="mb-3">
      <label for="email" class="form-label">Nome</label>
      <input
        id="nome"
        type="text"
        class="form-control"
        formControlName="nome"
        [class.is-valid]="registerAdminForm.get('nome')?.valid && registerAdminForm.get('nome')?.touched"
        [class.is-invalid]="registerAdminForm.get('nome')?.invalid && registerAdminForm.get('nome')?.touched"
        placeholder="Digite seu nome"/>
      <div class="valid-feedback">Ok</div>
      <div class="invalid-feedback" *ngIf="registerAdminForm.get('nome')?.invalid && registerAdminForm.get('nome')?.touched">
        <div *ngIf="registerAdminForm.get('nome')?.errors?.['required']">Nome é obrigatório</div>
        <div *ngIf="registerAdminForm.get('nome')?.errors?.['minlength']">
          Nome deve ter pelo menos 2 caracteres
        </div>
        <div *ngIf="registerAdminForm.get('nome')?.errors?.['maxlength']">
          Nome não pode ter mais de 50 caracteres
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        [class.is-valid]="registerAdminForm.get('email')?.valid && registerAdminForm.get('email')?.touched"
        [class.is-invalid]="registerAdminForm.get('email')?.invalid && registerAdminForm.get('email')?.touched"
        placeholder="Digite seu email"/>
      <div class="valid-feedback">Ok</div>
      <div class="invalid-feedback" *ngIf="registerAdminForm.get('email')?.invalid && registerAdminForm.get('email')?.touched">
        <div *ngIf="registerAdminForm.get('email')?.errors?.['required']">Email é obrigatório</div>
        <div *ngIf="registerAdminForm.get('email')?.errors?.['email']">Email inválido</div>
        <div *ngIf="registerAdminForm.get('email')?.errors?.['maxlength']">
          Email não pode ter mais de 30 caracteres
        </div>
    </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="register()">
      Cadastrar
    </button>

  </form>
</div>
