<h2 mat-dialog-title class="text-center">Atualizar Status</h2>

<div mat-dialog-content class="d-flex flex-column align-items-center gap-3 py-2">
  <p>Escolha o status para <strong>{{data.label}}</strong>:</p>

  <div class="d-flex flex-column gap-2 w-100" style="padding: 5%;">
    <button type="button" class="btn btn-info" (click)="selecionar('Não iniciado')">
      Não iniciado
    </button>
    <button type="button" class="btn btn-primary" (click)="selecionar('Em andamento')">
      Em andamento
    </button>
    <button type="button" class="btn btn-success" style="margin-bottom: 5%;" (click)="selecionar('Concluído')">
      Concluído
    </button>
  </div>
</div>


